<a href="https://colab.research.google.com/github/outmanedev/DEV/blob/main/Atelier2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. Créer une liste en choisissant des éléments d'index impair dans la première liste et des
éléments d'index pair dans la seconde.
Étant donné deux listes, l1 et l2, écrivez un programme pour créer une troisième liste l3 en
choisissant un élément d'indice impair dans la liste l1 et des éléments d'indice pair dans la liste
l2.
---

In [6]:
l1=[3,6,9,12,15,18,21]
l2=[4,8,12,16,20,24,28]
i=0
l3=[]
for i in l1:
    if i%2!=0:
        l3.append(i) 
for i in l2:
    if i%2==0:
        l3.append(i)
print ("la liste l3 est :",l3)

la liste l3 est : [3, 9, 15, 21, 4, 8, 12, 16, 20, 24, 28]

2. Deviser la liste en 3 morceaux égaux et inverser chaque morceau

In [2]:
list=[11, 45, 8, 23, 14, 12, 78, 45, 89]
n=3
for i in range(0,len(list),n) :
    x=list[i:i+n]
    print(x[::-1],end='')

[8, 45, 11][12, 14, 23][89, 45, 78]

3. Écrire un programme pour itérer une liste donnée et compter l'occurrence de chaque élément et
créer un dictionnaire pour montrer le nombre de chaque élément.

In [5]:
liste =[11, 45, 8, 11, 23, 45, 23, 45, 89,12]
dic={}
for i in liste :
    x=liste.count(i)
    dic[i]= x
print(dic)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1, 12: 1}

4. Trouver l'intersection (commune) de deux Sets et supprimez ces éléments du premier Set

In [3]:
set1={23, 42, 65, 57, 78, 83, 29}
set2={57, 83, 29, 67, 73, 43, 48}
intersection=set1.intersection(set2)
for i in intersection :
    set1.remove(i)
    
print("intersection :",intersection)
print("set 1 aprés suppression ces élements :",set1)

intersection : {57, 83, 29}
set 1 aprés suppression ces élements : {65, 42, 78, 23}

5. Itérer une liste donnée et vérifier si un élément donné existe en tant que valeur de clé dans
un dictionnaire. Sinon, supprimez-le de la liste

In [4]:
liste=[47, 64, 69, 37, 76, 83, 95, 97]
dic={'Yassine':47, 'Imane':69, 'Mohammed':76, 'Abir':97}
l2=[]
for x in dic.values() :
    if x in liste :
        l2.append(x)
print(l2)

[47, 69, 76, 97]